* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  height: 100vh;
  background: blue;
}

.sun {
  padding: 3vw;
  height: 5vw;
  width: 5vw;
  background: yellow;
  border-radius: 100%;
  -webkit-box-shadow: 2px 2px 10px yellow;
          box-shadow: 2px 2px 10px yellow;
  -webkit-animation: pulse 10s ease-in-out infinite alternate, position 10s linear infinite alternate;
          animation: pulse 10s ease-in-out infinite alternate, position 10s linear infinite alternate;
}

@-webkit-keyframes pulse {
  0% {
    background-color: yellow;
  }
  70% {
    background-color: yellow;
  }
  100% {
    background-color: blue;
  }
}

@keyframes pulse {
  0% {
    background-color: yellow;
  }
  70% {
    background-color: yellow;
  }
  100% {
    background-color: blue;
  }
}

@-webkit-keyframes position {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(5rem, 0);
            transform: translate(5rem, 0);
  }
  100% {
    -webkit-transform: translate(-5rem, 0);
            transform: translate(-5rem, 0);
  }
}

@keyframes position {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(5rem, 0);
            transform: translate(5rem, 0);
  }
  100% {
    -webkit-transform: translate(-5rem, 0);
            transform: translate(-5rem, 0);
  }
}

h2 {
  text-align: center;
  font-size: 3rem;
  -webkit-animation: fadein 5s forwards infinite;
          animation: fadein 5s forwards infinite;
  margin-bottom: 10rem;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flower-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flower {
  position: absolute;
  top: 40%;
  height: 30vw;
  width: 1vw;
  background: green;
  -webkit-animation: flowerAnimation 3s ease alternate;
          animation: flowerAnimation 3s ease alternate;
}

@-webkit-keyframes flowerAnimation {
  from {
    top: 80%;
  }
  to {
    top: 40%;
  }
}

@keyframes flowerAnimation {
  from {
    top: 80%;
  }
  to {
    top: 40%;
  }
}

.flower::after {
  content: ' ';
  position: absolute;
  height: 12vw;
  width: 12vw;
  background: purple;
  border-radius: 100%;
  left: -5rem;
  top: -5rem;
  -webkit-animation: pulse 3s infinite ease-out alternate;
          animation: pulse 3s infinite ease-out alternate;
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.flower::before {
  content: ' ';
  position: absolute;
  height: 3vw;
  width: 4vw;
  background: #048000;
  border-radius: 50% 17%;
  left: 0.5rem;
  top: 14rem;
}
/*# sourceMappingURL=style.css.map */